@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var className = Model.Customer.Count > 5 ? "popular" : null;
}

<h1 class="@className">@Model.Movie.Name</h1>

@if (Model.Customer.Count == 0)
{
    <p>No one has rented this movie before.</p>
}

<ul>
    @foreach (var customer in Model.Customer)
    {
        <li><a href="@Html.ActionLink("Customers", "Customer")">@customer.Name</a></li>
    }
</ul>


